<h3 class="mt-16 text-base font-bold tracking-tight text-slate-900">
  {{ metadata.ctaText }}
</h3>

<ul class="mt-4 grid grid-cols-1 gap-6 sm:grid-cols-2">
  <li>
    <a href="{{ metadata.cardLink1}}" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        {{ metadata.cardHead1 }}
      </h4>

      <p class="text-slate-600">
        {{ metadata.cardDesc1 }}
      </p>
    </a>
  </li>

  <li>
    <a href="{{ metadata.cardLink2}}" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        {{ metadata.cardHead2 }}
      </h4>

      <p class="text-slate-600">
        {{ metadata.cardDesc2 }}
      </p>
    </a>
  </li>

  <li class="">
    <a href="{{ metadata.cardLink3}}" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        {{ metadata.cardHead3 }}
      </h4>

      <p class="text-slate-600">
        {{ metadata.cardDesc3 }}
      </p>
    </a>
  </li>

  <li class="">
    <a href="{{ metadata.cardLink4}}" class="block px-6 py-4 border rounded bg-slate-50 border-slate-100 hover:bg-white">
      <h4 class="font-bold tracking-tight text-slate-900">
        {{ metadata.cardHead4 }}
      </h4>

      <p class="text-slate-600">
        {{ metadata.cardDesc4 }}
      </p>
    </a>
  </li>
</ul>
